@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 363px;
	min-height: 525.8px;
	border-style: none;
	border-color: #000000;
	padding: 21px 8px 23.200000000000045px 9px;
	background: #FFFFFF url("../images/christian-background-loops.jpg") no-repeat left top;
}

#u105-7
{
	z-index: 2;
	margin-left: 79px;
}

#menuu167
{
	z-index: 9;
	width: 363px;
	margin-top: 14px;
}

#u185
{
	width: 58px;
	min-height: 34px;
	margin-right: -10000px;
}

#u188
{
	width: 58px;
	padding-bottom: 20px;
}

#u188:hover
{
	margin: 0px;
}

#u188:active
{
	margin: 0px;
}

#u189-4
{
	width: 58px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u192
{
	width: 59px;
	min-height: 34px;
	margin-right: -10000px;
	left: 60px;
}

#u193
{
	width: 59px;
	padding-bottom: 20px;
}

#u188.MuseMenuActive,#u193:hover
{
	margin: 0px;
}

#u193:active
{
	margin: 0px;
}

#u210
{
	width: 59px;
	min-height: 34px;
	margin-right: -10000px;
	left: 121px;
}

#u211
{
	width: 59px;
	padding-bottom: 20px;
}

#u193.MuseMenuActive,#u211:hover
{
	margin: 0px;
}

#u211:active
{
	margin: 0px;
}

#u217
{
	width: 59px;
	min-height: 34px;
	margin-right: -10000px;
	left: 182px;
}

#u218
{
	width: 59px;
	padding-bottom: 20px;
}

#u211.MuseMenuActive,#u218:hover
{
	margin: 0px;
}

#u218:active
{
	margin: 0px;
}

#u289
{
	width: 59px;
	min-height: 34px;
	margin-right: -10000px;
	left: 243px;
}

#u292
{
	width: 59px;
	padding-bottom: 20px;
}

#u218.MuseMenuActive,#u292:hover
{
	margin: 0px;
}

#u292:active
{
	margin: 0px;
}

#u308
{
	width: 59px;
	min-height: 34px;
	margin-right: -10000px;
	left: 304px;
}

#u309
{
	width: 59px;
	padding-bottom: 20px;
}

#u292.MuseMenuActive,#u309:hover
{
	margin: 0px;
}

#u309:active
{
	margin: 0px;
}

#u309.MuseMenuActive
{
	margin: 0px;
}

#u196-4,#u212-4,#u219-4,#u294-4,#u310-4
{
	width: 59px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u274-7
{
	z-index: 47;
	display: block;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 21px;
	position: relative;
}

#u231
{
	z-index: 46;
	width: 274px;
	height: 183px;
	margin-left: 43px;
	top: -30px;
	margin-bottom: -30px;
}

#page .verticalspacer
{
	clear: both;
}

